body {
  text-align: center;
}

.salmon {
  background-color: salmon;
}

.cyan {
  background-color: cyan;
}

.green {
  background-color: green;
}

.gray {
  background-color: gray;
}

.kotak {
  line-height: 100px;
  font-size: 30px;
  text-align: center;
}

.container {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 4fr;
}

/* GRID TEMPLATE AREAS */
.container-area {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100px 200px 100px;
  grid-template-areas:
    "header header header"
    "sidebar content content"
    "footer footer footer";
}

header {
  grid-area: header;
}

aside {
  grid-area: sidebar;
}

main {
  grid-area: content;
}

footer {
  grid-area: footer;
}

.container-item {
  display: grid;
  gap: 10px;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
}

.item {
  grid-column: 2/4;
  grid-row: 2/4;
}
