.box1 {
  margin-bottom: 20px;
  background-color: lightblue;
  padding: 20px;
}

.box2 {
  margin-top: 30px;
  background-color: lightgreen;
  padding: 20px;
}

.parent {
  margin-top: 20px;
  padding: 10px; /* Menambahkan padding untuk mencegah margin collapsing */
  background-color: lightgray;
  overflow: hidden;
}

.child {
  margin-top: -30px;
  background-color: lightcoral;
  padding: 20px;
}
