body {
  height: 200vh;
}

.kotak {
  width: 100%;
  height: 100vh;

  /* BACKGROUND COLOR */
  background-color: salmon;
  /* BACKGROUND IMAGE */
  background-image: url("../assets/img1.jpg");
  /* BACKGROUND REPEAT */
  background-repeat: no-repeat;
  /* BACKGROUND POSITION */
  /* background-position : horizontal vertical */
  background-position: center center;
  /* BACKGROUND SIZE */
  background-size: cover;
  /* BACKGROUND ATTACHMENT */
  background-attachment: fixed;
}

.gradient {
  width: 100%;
  height: 500px;
  background: linear-gradient(180deg, black, grey, white);
}
